keybinds clear-defaults=true {
    normal {
        bind "Ctrl Space" { SwitchToMode "Pane"; }
        bind "Alt Enter" { NewPane; }
        bind "Alt q" { CloseFocus; }
        bind "Alt j" { FocusNextPane; }
        bind "Alt k" { FocusPreviousPane; }
        bind "Alt h" { Resize "Increase Left"; }
        bind "Alt l" { Resize "Increase Right"; }
        bind "Alt J" { MovePane; }
        bind "Alt K" { MovePaneBackwards; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "Ctrl Alt t" { NewTab; }
        bind "Ctrl Alt q" { CloseTab; }
        bind "Ctrl Alt n" { GoToNextTab; } // next
        bind "Ctrl Alt p" { GoToPreviousTab; } // previous
        bind "Ctrl Alt r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
    pane {
        // Vim normal mode analogue. "Normal" is meant to be insert mode.
        bind "i" { SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "Resize"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }

        // DWM-like keybindings to move around and stuff
        bind "j" { FocusNextPane; }
        bind "k" { FocusPreviousPane; }
        bind "J" { MovePane; }
        bind "K" { MovePaneBackwards; }
        bind "H" { Resize "Increase Left"; }
        bind "L" { Resize "Increase Right"; }
        bind "Enter" { NewPane; }
        bind "q" { CloseFocus; }
        bind "f" { ToggleFocusFullscreen; }
        bind "z" { TogglePaneFrames; }
        bind "F" { ToggleFloatingPanes; }
        bind "e" { TogglePaneEmbedOrFloating; }
        bind "R" { SwitchToMode "RenamePane"; PaneNameInput 0; }

        // Tab setup
        bind "Ctrl t" { NewTab; }
        bind "Ctrl q" { CloseTab; }
        bind "Ctrl r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Ctrl b" { BreakPane; }
        bind "Ctrl n" { GoToNextTab; } // next
        bind "Ctrl p" { GoToPreviousTab; } // previous
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }

        // Session setup
        bind "D" { Detach; }
        bind "S" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal";
        }
    }
    resize {
        bind "Esc" { SwitchToMode "Pane"; }
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }
    scroll {
        bind "Esc" { SwitchToMode "Pane"; }
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "g" { ScrollToTop; }
        bind "G" { ScrollToBottom; }
        bind "Ctrl g" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        bind "Alt c" { Copy; }
    }
    search {
        bind "Esc" { SwitchToMode "Pane"; }
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Ctrl g" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "W" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Esc" "Enter" { SwitchToMode "Pane"; }
        bind "Ctrl c" { UndoRenameTab; SwitchToMode "Pane"; }
    }
    renamepane {
        bind "Esc" "Enter" { SwitchToMode "Pane"; }
        bind "Ctrl c" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    shared_except "normal" {
        bind "Ctrl Space" { SwitchToMode "Normal"; }
        bind "Alt q" { Quit; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
}

simplified_ui true
auto_layout true
session_serialization true

// Tokyonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    tokyonight_night {
        fg "#c0caf5"
        bg "#1a1b26"
        black "#15161e"
        red "#f7768e"
        green "#9ece6a"
        yellow "#e0af68"
        blue "#7aa2f7"
        magenta "#bb9af7"
        cyan "#7dcfff"
        white "#a9b1d6"
        orange "#ff9e64"
    }
}

theme "tokyonight_night"
default_layout "standard"
default_mode "normal"

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}
